<!-- <app-ScrollableTab [menus]="topMenus" [backgroundColor]="'#fff'" [titleColor]="'#3f3f3f'" [titleActiveColor]="'red'"
    [indicatorColor]="'red'" (tabSelected)="handleTabSelected($event)"></app-ScrollableTab>
<app-image-slider [sliders]="imageSliders"></app-image-slider>
<app-horizontal-grid>
    <span appGridItem *ngFor="let item of channels">
        <img [src]="item.icon" alt="" [appGridItemImage]="'2rem'" [fitModel]="'cover'">
        <span [appGridItemTitle]="'0.6rem'">{{item.title}}</span>
    </span>
</app-horizontal-grid> -->

<router-outlet></router-outlet>
<app-footer (tabSelected)="handleTabSelect($event)" [selectedIndex]="selectedIndex$ | async"></app-footer>
<div id="overlay" class="hidden" (click)="removeDialog()"></div>
<div id="dialog-container" class="hidden"></div>